<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>home</title>
<style type="text/css">
<
style type ="text/css">.abc:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;  
	background-color: #F5F5F9;
}
</style>
</head>
<body style="padding-left: 0em;">

welcome !!
	<div class="column-content-region col-sm-3"
		ng-controller="ForumController as fc">
		<h3>Forums</h3>
		<div class="abc" ng-repeat="f in fc.forums" ng-click="forum.get(f)">
			<h5>
				<span ng-bind="f.name"></span>
			</h5>
			<h6>
				<span ng-bind="f.message"></span>  
			</h6>
			<h6>
				<span ng-bind="f.timeStamp"></span>
			</h6>
			<a href="" ng-click="fc.get(f)"><b>Read More</b></a>
		</div>

	</div>

	<div class="column-content-region col-sm-3" style="margin-left: 2em;"
		ng-controller="BlogController as bc">
		<h3>Blogs</h3>  
		<div class="abc" ng-repeat="b in bc.blogs" >
			<h2>
				<span ng-bind="b.title"></span>        
			</h2> 
			<!-- <p>
				<span ng-bind="b.status"></span>
			</p> -->
			<p>
				<span ng-bind="b.description"></span>
			</p>
			<p>
				<span ng-bind="b.timeStamp"></span>
			</p>
			<a href="" ng-click="bc.get(b)"><b>Read More</b></a>
		</div>    
	</div>
  
	<div class="column-content-region col-sm-3" style="margin-left: 2em;"
		ng-controller="JobController as jc">
		<h3>Jobs</h3>
		<div class="abc" ng-repeat="j in jc.jobs" ng-click="job.get(j)">
			<h2>
				<span ng-bind="j.jobname"></span>
			</h2>
			<p>
				<span ng-bind="j.jobcategory"></span>
			</p> 
			<p>
				<span ng-bind="j.jobdetails"></span>
			</p>
			<a href="" ng-click="jc.get(j)"><b>Read More</b></a>
    
		</div>    
	</div>
</body>  
</html>