<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>blog details</title>
<style type="text/css">
.body 
{ 
 	background-image: url('images/blog2.jpg');    
	 background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}   
</style>   
</head>    
<body>
<div><h4 style= "margin: 0px 0px 10px 0px; margin-left: 85%;"></h4></div>
<div><h1 style="margin-top: 2em;">{{viewBlog.title}}</h1><br>   
<h5>{{viewBlog.status}}<br>{{viewBlog.timeStamp}}<br></h5> 
<br>  
<h4>{{viewBlog.description}}</h4></div>    
  
 <form ng-submit="bc.createReply(bc.reply)">    
		  
			<textarea placeholder="Enterreply Here.." class="form-control" ng-model="bc.reply.replymsg"></textarea>
  
			<button type="submit">reply</button> 
	</form>  
	<div ng-repeat="rv in rt"> 
     
		<h3>              
			mailid: <span ng-bind="rv.mailid"></span>
		</h3>    
    
	           
            
		<h5>     
			Reply: <span ng-bind="rv.replymsg"></span>
		</h5>
		<br> 
		<hr>    
	</div>        

	</div>   
</body> 
</html>         